.drafter-name {
  font-weight: 300;
  margin-bottom: 20px;
  margin-top: 0px;
}

.drafter > .score {
  font-size: 2em;
  text-align: right;
  /*font-weight: 800;*/
}

.error::after {
  content: "*";
}

.player {
  border-top: 1px solid #eee;
  background-color: white;
  margin: 0px;
  padding: 10px;
}

.player:last-of-type {
  opacity: .5;
}

.player .profile {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid lightgray;
  border-radius: 100%;
  background-size: cover;
  background-position: center top;
}

.player-name,
.player .media-right {
  vertical-align: middle;
}

.player .position {
  font-size: .9em;
  font-weight: 100;
}

.player .media-right {
  font-weight: 100;
  font-size: 2em;
}

.under-par {
  color: red;
}
